<h3><%= title %></h3>
<% if posts.any? %>
  <ul class='list-group'>
    <% posts.each do |post| %>
      <%= render 'post', post: post, callout: callout %>
    <% end %>
  </ul>
<% else %>
  <p><%= comment %></p>
<% end %>
