<h1>Welcome</h1>
<% unless user_signed_in? %>
  <%= render 'guest', own_posts: @own_posts, commented_on_posts: @commented_on_posts, empty_posts: @empty_posts %>
<% end %>

<% if current_user&.coach? %>
  <%= render 'coach', own_posts: @own_posts, commented_on_posts: @commented_on_posts, empty_posts: @empty_posts %>
<% end %>

<% if current_user&.athlete? %>
  <%= render 'athlete', own_posts: @own_posts, commented_on_posts: @commented_on_posts, empty_posts: @empty_posts  %>
<% end %>
